
extends layout

block content
  nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
    .container
      a.navbar-brand(href='/')
        img(src='/images/logogry.png' alt='logo' title="Sweetpea Travel's")
      h2 Sweetpea Travel&apos;s
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.active(href='/') Home
          li.nav-item
            a.nav-link(href='about') About
          li.nav-item
            a.nav-link(href='contact') Contact
          li.nav-item
            a.nav-link(href='register') Register
          if currentUser
            li.nav-item
              a.nav-link(href='logedinuser?id='+ currentUser._id) Profile

  br
  // - Carousel
  .container-fluid
    #carousel.carousel.slide(data-ride='carousel' data-interval='6500')
      .carousel-inner
        .carousel-item.active
          img.w-100(src='/images/mountain3r.jpg' alt='Mountains')
          .carousel-caption
            .container
              .row.justify-content-center
                .col-10.bg-custom.d-none.d-md-block.py-3.p-0
                  h1 SWEETPEA TRAVEL&apos;S
                  br
                  div(clas='border-top border-primary w-50 mx-auto my-3')
                  h3.pb-3 Step Out of Your Comfort Zone;
                  h6 Experience it Solo!
        .carousel-item
          img.w-100(src='/images/Hooverdam.jpg' alt='Hooverdam')
        .carousel-item
          img.w-100(src='/images/jamaicapool.jpg' alt='Pool')
        .carousel-item
          img.w-100(src='/images/vegas.jpg' alt='Vegas')
      a.carousel-control-prev(href='#carousel' role='button' data-slide='prev')
        span.fas.fa-chevron-left.fa-2x
      a.carousel-control-next(href='#carousel' role='button' data-slide='next')
        span.fas.fa-chevron-right.fa-2x
  // Quote
  .jumbotron
    .quote
      #quoteDisplay.font-italic
      br
      button.button(onclick='newQuote()') Click Me for a Quote!
  
  // Vacay Packages
  .text-center
    h1.display-4(style='color: #6a2c70') Vacation Packages
  br
  br
  .container.col-10
    .responsive
      .gallery
        a(href="./packages?name=Arizona+Grand+Escape")
          img.img-thumbnail(src='/images/tarizonarocks.jpg' alt='Arizona' title="Arizona's Grand Escape")
        .desc
          p(style='color: #6a2c70') Arizona&apos;s Grand Escape             
          | The beauty of Arizona is not limited to the Grand Canyon
          | and golfing, there is so much more to uncover.
          | Discover all the unique experiences now.
    .responsive
      .gallery
        a(href='./packages?name=On+Cloud+Wine')
          img.img-thumbnail(src='/images/winetour.jpg' alt='Wine Tour' title='On Cloud Wine')
        .desc
          p(style='color: #6a2c70') On Cloud Wine          
          | Red, White, or a Ros&eacute;?
          br
          | Whether you are going it solo; with one friend; or 
          | a group of you; a Napa Valley Wine Tour is for everyone.
    .responsive
      .gallery
        a(href='./packages?name=Keep+Calm+and+Wellness+On')
          img.img-thumbnail(src='/images/fishing.jpg' alt='retreat' title='Keep Calm & Wellness On')
        .desc
          p(style='color: #6a2c70') Keep Calm &amp; Wellness On
          | Come relax at Wellness Lodge for a week, or more. Yoga on a cliff top; meditation in a meadow, 
          | horseback riding to a hidden lake, and hiking adventures, await you.
    .responsive
      .gallery
        a(href='./packages?name=Adventours+in+OZ')
          img.img-thumbnail(src='/images/tree.jpg' alt='Australia' title='Adventours in OZ')
        .desc
          p(style='color: #6a2c70') Adventours in OZ
          | Not only does it match every taste, budget, age, or
          | interests, but Australia also delivers unique experiences
          | impossible to find anywhere else.
  .clearfix
  br
  //Meet the Team
  
  .py-5.mb-4.new
    .container
    .text-center
        h1.display-4(style='color: #6a2c70') Sweetpea&apos;s Team
        br
        br
    .container
      .row
        .col-xl-3.col-md-6.mb-4
          .card.border-0
            .flip-card
              .flip-card-inner
                .flip-card-front
                  img.card-img-top(src='images/Ellaria Tyrell.jpg' alt='Ellaria Tyrell')
                  .card-body.text-center
                    h5.card-title.mb-0 Ellaria Tyrell
                    .card-text.text-black-50
                    | Team Manager
                .flip-card-back
                  h1.person.text- Ellaria Tyrell
                  p.description.text-black-50 
                  | Brings over 10 years of travel marketing experience to the team. 
                  | She loves seeing the smiles on her clients after their trips.
                  br
                  | Favourite Vacation - McLeod Ganj, India. The Triund Trek 
                  | was spectacular and the caves at Kareri Lake are a must see. 
                  | It was a hard place to leave.            
        .col-xl-3.col-md-6.mb-4
          .card.border-0
            .flip-card
              .flip-card-inner
                .flip-card-front
                  img.card-img-top(src='images/Kaylee Frye.jpg' alt='Kaylee Frye')
                  .card-body.text-center
                    h5.card-title.mb-0 Kaylee Frye
                    .card-text.text-black-50
                    | Sales Agent
                .flip-card-back
                  h1.person.text- Kaylee Frye
                  p.description.text-black-50 
                  | Been to over thirty countries before she was 18 and speaks several 
                  | languages. Loves to travel off the beaten path.
                  br
                  | Favorite Vacation - It is my time in Bosnia and Herzegovina,  
                  | which still speaks to my soul. Around every corner is a new
                  | experience waiting for you.
        .col-xl-3.col-md-6.mb-4
          .card.border-0
            .flip-card
              .flip-card-inner
                .flip-card-front
                  img.card-img-top(src='images/Amos Burton.jpg' alt='Amos Burton')
                  .card-body.text-center
                    h5.card-title.mb-0 Amos Burton
                    .card-text.text-black-50
                      | Sales Agent
                .flip-card-back
                  h1.person.text- Amos Burton
                  p.description.text-black-50 
                  | This backpacker and adrenaline seeker is ready to help you
                  | find your next great adventure
                  br
                  | Favorite Vacation - Sandboarding down the side of Cerro Negro 
                  | Volacano in Nicaragua and skydiving in Antarctica.  
        .col-xl-3.col-md-6.mb-4
          .card.border-0
            .flip-card
              .flip-card-inner
                .flip-card-front
                  img.card-img-top(src='images/Kira Nerys.jpg' alt='Kira Nerys')
                  .card-body.text-center
                    h5.card-title.mb-0 Kira Nerys
                    .card-text.text-black-50
                      | Sales Agent
                .flip-card-back
                  h1.person.text- Kira Nerys
                  p.description.text-black-50 
                  | After studying history and art in the Netherlands, she spent 2 years
                  | backpacking through Europe. 
                  br
                  | Favourite Vacation - The northern lights in Iceland was the most unique
                  | experience I have ever had. The awe inspiring colors I saw, swirl and 
                  | snake across the sky, can never be repeated.
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  // Connect
  .jumbotron
    .row.text-center
      .col-12
        h2 Connect With Us
      .col-12.social.padding
        a(href='https://www.facebook.com/')
          i.fab.fa-facebook
        a(href='https://twitter.com/')
          i.fab.fa-twitter
        a(href='https://www.instagram.com/?hl=en')
          i.fab.fa-instagram
  // Footer
  footer
    .container
      .row.text-center
        .col-md-4
          img(src='/images/logoG2.jpg')
        .col-md-4
          .font-weight-bold
            h2 Sweetpea Travel&apos;s
            hr.dark
            p 587-913-2000
            p info@sweetpeatravels.ca
            p 123 Carenden Road S.W.
            p Calgary, AB. T2X 
        .col-md-4
          .font-weight-bold
            h3 Hours
            hr.dark
            p Monday-Friday: 10am-5pm
            p Saturday: 10am-3pm
            p Sunday and Holidays: Closed
        .col-12
          h5(font-weight='bold') &copy; Sweetpea Travel&apos;s
  script.
    let data= currentUser;
    console.log(data);

  script(src='/javascripts/index.js')
  link(href='/stylesheets/style.css' rel='stylesheet')