doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Sweetpea Travel&apos;s
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')   
  
  body
    if currentUser
    
      h6.bg-light.text-dark(style='text-align: right;margin-bottom: 0px;')= "Welcome " + currentUser.CustFirstName
        span(style='font-size:0.8em')
          a(href="/log-out") (Log Out)
          
    
    else      
      form(action="/log-in" method="POST")
        .d-flex.justify-content-end.bg-light
          .col.text-danger.flex-grow-1= loginmsg
          //.col.text-white LogIn/
              a(href="/registerJQuery") Register
          .col
            input.form-control.form-control-sm(name="username" placeholder="Username" type="text")
          .col
            input.form-control.form-control-sm(name="password" placeholder="Password" type="password")
          .col.mr-1
            button(style='background-color: #fe91ca;').btn.btn-sm Log In
  
  //.jumbotron
    h1 Welcome to Travel Experts
  block content
  
