doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Register
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    link(href="./stylesheets/registerstylesheet.css" link="" rel="stylesheet")
    script(src="js/register.js")
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-light.sticky-top
      .container
        a.navbar-brand(href="/")
          img(src="images/logogry.png" alt="logo" title="Logo")
        h2 Sweetpea Travel's
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarResponsive")
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="about") About
            li.nav-item
              a.nav-link(href="contact") Contact
            li.nav-item
              a.nav-link.active(href="register") Register
    .container
      .gallery
        img.float-right(src="images/fishing.jpg" alt="Gone Fishing")
    .container
      div(style="text-align:center")
        .register
          h2 Register to become a Member
      .container
        form(name="myForm" action="/registerdata" onsubmit="return Validate()" method="POST")
          .form-group
            label(for="CustFirstName") First Name:
            input#CustFirstName.form-control(type="text" placeholder="First Name" name="CustFirstName" required="")
          .form-group
            label(for="CustLastName") Last Name:
            input#CustLastName.form-control(type="text" placeholder="Last Name" name="CustLastName" required="")
            label(for="age") Age:
            input#age.form-control(type="text" placeholder="Age" name="age")
            label(for="CustAddress") Street Address:
            input#CustAddress.form-control(type="text" placeholder="Street Address" name="CustAddress")
            label(for="CustCity") City:
            input#CustCity.form-control(type="text" placeholder="City" name="CustCity")
            label(for="CustProv") Province:
            input#CustProv.form-control(type="text" placeholder="Province" name="CustProv")
            label(for="CustPostal") Postal Code:
            input#CustPostal.form-control(type="text" placeholder="Postal Code" name="CustPostal")
            label(for="CustHomePhone") Home Phone:
            input#CustHomePhone.form-control(type="text" placeholder="Home Phone" name="CustHomePhone" required="")
            label(for="CustBusPhone") Business Phone:
            input#CustBusPhone.form-control(type="text" placeholder="Business Phone" name="CustBusPhone")
            label(for="password") Password:
            input#password.form-control(type="text" placeholder="Password" name="passWord" required="")
          .form-group
            .form-check-inline
              label.form-check-label
                input.form-check-input(type="radio" name="gender" value="man")
                | Man
            .form-check-inline
              label.form-check-label
                input.form-check-input(type="radio" name="gender" value="woman")
                | Woman
            .form-check-inline
              label.form-check-label
                input.form-check-input(type="radio" name="gender" value="other")
                | Other
          input(type="submit" value="Submit")
          input(type="reset" value="Reset")
    // Footer
    footer
      .col-12
        .font-weight-bold
          h5 © Sweetpea Travel's
