extends layout

block content
  input#var(type="text" value=currentUser)
  

  
  form(action="/test" method="post")
    .form-group
      label(for="BookingDate") Booking Date
      input.form-control#Bdate(type="text" name="BookingDate" placeholder="Booking Date")
    .form-group
      label(for="BookingNo") Booking No
      input.form-control(type="text" name="BookingNo"  placeholder="Booking No")
    .form-group
      label(for="TravelerCount") Traveler Count
      input.form-control(type="number" name="TravelerCount" placeholder="Traveler Count")
    .form-group
      label(for="PCustomerId" style="display:none" ) PCustomerId
      input.form-control#Cid(type="text" placeholder="" name="PCustomerId" style="display:none" )
    .form-group
      label(for="TripTypeId") Trip Type Id
      input.form-control(type="text" name="TripTypeId" placeholder="Trip Type Id")
    button.btn.btn-primary(type="submit") Submit
  script.
    let rawdata= document.getElementById("var").value;
    let data=JSON.parse(rawdata)
    console.log(data);
    console.log(data._id);
    document.getElementById("Cid").value= data._id;
    var d = new Date();
    var dd = String(d.getDate()).padStart(2, '0');
    var mm = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = d.getFullYear();

    d = mm + '/' + dd + '/' + yyyy;
    document.getElementById("Bdate").value= d;

