@import url("https://fonts.googleapis.com/css?family=Georgia:400,500,700");
@import url(https://fonts.googleapis.com/css?family=Bitter);

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Georgia", sans-serif;
  color: #222;
}
/*NAVBAR*/
.navbar-brand img {
  height: 4rem;
}
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-item {
  padding: 0.5rem;
}
.navbar h2 {
  font-size: 3rem;
  color: #6a2c70;
}
.nav-link {
  color: #5b5555 !important;
}
.nav-link.active,
.nav-link:hover {
  color: #860d86 !important;
}
.nav-link {
  color: #5b5555 !important;
}
/*ABOUT*/
.about {
  padding-top: 3rem;
  text-align: left;
  padding-bottom: 5rem;
}
a:visited {
  color: #860d86;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #06afaf;
  background-color: transparent;
  text-decoration: underline;
}
.your {
  text-align: center;
  padding-bottom: 4rem;
  color: #860d86;
}

/* FORM */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="checkbox"] {
  margin-top: 16px;
}
input[type="submit"] {
  background-color: #fe91ca;
  color: white;
  font-size: 1.5rem;
  border: none;
}
input[type="submit"]:hover {
  opacity: 0.7;
}
/*Footer*/
footer {
  padding-top: 2rem;
  text-align: center;
  background-color: #cff6cf;
  padding-bottom: 1rem;
}