@import url("https://fonts.googleapis.com/css?family=Georgia:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Bitter");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Georgia", sans-serif;
  color: #222;
  background-color: #f9ddfa;
}
/*Nav Bar*/
.navbar-brand img {
  height: 4rem;
}
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-item {
  padding: 0.5rem;
}
.navbar h2 {
  font-size: 3rem;
  color: #6a2c70;
}
.nav-link {
  color: #5b5555 !important;
}
.nav-link.active,
.nav-link:hover {
  color: #860d86 !important;
}

/*Carousel*/
#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  max-height: 38rem !important;
}
.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.bg-custom {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 1rem;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
}
.border-primary {
  border-top: 0.2rem solid #4981b3 !important;
}
.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1);
}
.carousel-caption h6 {
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1);
}

/*Quote*/
.jumbotron {
  text-align: center;
  background-color: #f9ddfa;
}
.quote {
  font-size: 1.5rem;
}
.button {
  background-color: rgb(229, 109, 240);
  color: white;
  font-size: 1.5;
  border: 2px;
}
.button:hover {
  opacity: 0.7;
}

/*Vacation Packages*/

div.gallery {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: #b4fcb4;
  border: 1px solid #b4fcb4;
}
div.gallery:hover {
  border: 2px solid #fe91ca;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  padding: 0 10px 10px 10px;
  float: left;
  width: 25%;
}

/*Meet the team*/

.flip-card {
  background-color: #f9ddfa;
  width: 260px;
  height: 100px;
  perspective: 1000px;
}
.flip-card-inner {
  width: 260px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  transform: rotateY(180deg);
  width: 260px;
  height: 300px;
  background-color: #f2f2f2;
}
.card-title {
  color: #6a2c70;
  padding: 20px;
}
.person {
  color: #6a2c70;
  font-family: "Georgia", serif;
  font-size: 30px;
  padding: 15px;
}
.card-body {
  background-color: #f2f2f2;
}

/*Connect*/
.social a {
  font-size: 4.5rem;
  padding: 3rem 3rem 4.5rem 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-instagram {
  color: #517fa8;
}
.fa-facebook :hover,
.fa-twitter :hover,
.fa-instagram :hover {
  color: #d5d5d5;
}

/*footer for home page*/
footer {
  background-color: #b4fcb4;
  color: #222;
  padding-top: 2rem;
}
footer a {
  color: #222;
  font-weight: bold;
}

/*Media Queries*/

/* Extra small devices (phones, 520px and down) */
@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
  .flip-card {
    width: 100%;
    height: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
  .flip-card {
    width: 100%;
    height: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 750px) {
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption h3 {
    font-size: 1.5rem;
  }
  .carousel-caption h6 {
    font-size: 1.5rem;
  }
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
  }
  .carousel-caption h3 {
    font-size: 1.8rem;
  }
  .carousel-caption h6 {
    font-size: 1.8rem;
  }
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
  }
  .carousel-caption h3 {
    font-size: 1.8rem;
  }
  .carousel-caption h6 {
    font-size: 1.8rem;
  }
  .responsive {
    width: 25%;
    margin: 6px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  border-radius: 5px;
  background-color: light;
  padding: 10px;
}
